<head>
    <title>
        Time space microserver
    </title>
<link rel="stylesheet" href="style.css" teyp="text/css" >

</head>


<body>
<h1>hello to our time space</h1>

<h2>welcome</h2>
<hr>
<a href="/project/url">click here to get the project date</a>
<hr>
<a href="/project/time">click here to get the time of this project</a>
<hr>
<h1>Example Output</h1>
<p>{"unix":1451001600000, "utc":"Fri, 25 Dec 2015 00:00:00 GMT"}</p>
<p>made by <a href="https://www.freecodecamp.org/">freecodecamp.org</a></p>
<div id="shape"><div id="shape1"></div>
<div id="shape2"></div>
</div>
</body>