<html>

<form action="/login" method="POST">
<lable for="name">name</lable>
<input type="text" name="name" id="name">
<lable for="password">password</lable>
<input type="text" name="password" id="password">
<input type="submit" value="Register">submit
    </form>




</html>