<head>
    <title>
        Time space microserver
    </title>
<link rel="stylesheet" href="style.css" teyp="text/css" >

</head>


<body>
<h1>hello to our time space</h1>

<h2>welcome</h2>
<hr>
<a href="/api/2015-19-11" target="_blank">click here to get the project date</a>
<hr>
<a href="/api/1451001600000">click here to get the time of this project</a>
<hr>
<h1>Example Output</h1>
<p>{"unix":1451001600000, "utc":"Fri, 25 Dec 2015 00:00:00 GMT"}</p>
<p>made by <a target="_blank" href="https://www.freecodecamp.org/" >freecodecamp.org</a></p>
<div id="shape"><div id="shape1"></div>
<div id="shape2"></div>
</div>
<hr>
<p><%= x %></p>
<script>
console.log(req.x);
</script> 
<!-- <script>
let element=document.getElementById('el');
    fetch('/get',{method:GET}).
    then(data=>{
        console.log(data);
    }).then(data=>{
        console.log(data+'2222222222');
        element.innerHTML=data;
    }).catch(err=>{console.log(err)})
    .catch(err=>{console.log(err)});
    </script> -->
</div>
</body>